[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
better-bencode = "*"
gunicorn = "*"
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
aiofiles = "*"
peewee = "*"
peewee-async = "*"
aiopg = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
mypy = "*"
coverage = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
