{% extends "base.html" %}
{% block title %}Stilio{% endblock title %}
{% block content %}
    <div class="search-container">
        <div class="search-top-section">
            <form action="search" method="get">
                <div class="search-nav">
                    <a href="/">
                        <img src="static/images/stilio-logo.png"
                             class="small-logo-search">
                    </a>
                    {% include "components/search_box.html" %}
                </div>
            </form>
            <p>Displaying {{ count }} related torrents for "{{ query }}"</p>
        </div>
        <table class="table" id="table-results">
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Added</th>
            </tr>
            </thead>
            {% for torrent in torrents %}
                <tbody>
                <tr>
                    <td> {{ torrent.name }} </td>
                    <td> {{ torrent.size|filesizeformat }} </td>
                    <td> {{ torrent.added_at.strftime("%d-%m-%y %H:%M") }} </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
        <div class="torrent-results">

        </div>

        {% if pages|length > 1 %}
            <nav class="pagination is-centered" role="navigation"
                 aria-label="pagination">
                <ul class="pagination-list">
                    {% for page in pages %}
                        <li>
                            <a href="search?query={{ query }}&page={{ page }}"
                               class="pagination-link {% if page == current_page %}is-current"{% endif %}
                               aria-label="Goto page {{ page }}"
                               {% if page == current_page %}aria-current="page"{% endif %}>
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}